@font-face {
    font-family: "Norse Bold";
    src: url(fonts/Norse-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    font-family: 'Helvetica', sans-serif;
}

.content {
    background-color: #fff;
    width: 1440px;
    height: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.sidebar {
    width: 37%;
    height: 100%;
    background-image: url(img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: 100% 100%;
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo-container {   
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    height: 85%;
}

.logo-txt {
    color: #fff;
    font-family: "Norse Bold", sans-serif;
    font-size: 8rem;
}

.sidebar-credits {
    color: #fff;
}

.signup-container {
    height: 100%;
    width: 63%;
    background-color: #fafafa;
}

.signup-text {
    margin: 150px 50px 50px;
    font-weight: bold;
    font-size: 22px;
}

.call-to-action {
    margin-top: 20px;
}

#signup-form {
    background-color: #fff;
}